abrt
BraveSoftware
chessx
Windscribe
vlc
unity3d
totem
spotify
simple-update-notifier
qBittorrent
pulse
procps
Postman
pgadmin
pgadmin4
nautilus
menus
libreoffice
leap
JetBrains
ibus
gtk-4.0
gtk-3.0
gtk-2.0
google-chrome
goa-1.0
gnome-session
gnome-boxes
flameshot
evolution
epiphany
eog
enchant
dotfiles
discord
dconf
Code
.gsd-keyboard.settings-ported
dleyna-renderer-service.conf
coc
Google
musikcube/1/*
gnome-initial-setup-done
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
Emulator.conf
windscribe.desktop
mpv/watch_later
gnome-control-center
xfce4
flutter
cef_user_data
obs-studio
Motrix
Genymobile
connections.db
dolphinrc
knfsshare
dosbox
skypeforlinux
session 
Ryujinx
pcmanfm
nvim.bak
libfm
jxbrowser
godot
dlv 
clipit 
bunkus.org
autostart
Android Open Source Project 

# files
rygel.conf
okularrc
okularpartrc
nvim.zip
kdeglobals
arkrc
