autostart
BraveSoftware
Boost Note
Code
catfish
celluloid
cinnamon-session
com.alexmercerind.harmonoid
configstore
dconf
Dharkael
discord
enchant
evolution
goa-1.0
google-chrome
gpick
gtk-2.0
gtk-3.0
htop
libreoffice
light
menus
MongoDB Compass
nemo
Postman
pulse
simple-update-notifier
Softdeluxe
spotify
Thunar
vlc
xed
xfce4
xviewer
yarn
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
file-roller
JetBrains
Windscribe