<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<converters type="dynv">
<window type="dynv">
<height type="int32">400</height>
<width type="int32">640</width>
</window>
</converters>
<floating_picker type="dynv">
<zoom type="int32">20</zoom>
</floating_picker>
<generate_scheme type="dynv">
<hsv_shift type="float" list="true"><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li></hsv_shift>
<hue type="float">180</hue>
<lightness type="float">0</lightness>
<saturation type="float">100</saturation>
<type type="int32">0</type>
<wheel_locked type="bool">true</wheel_locked>
<wheel_type type="int32">0</wheel_type>
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 3.09084e-41</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 4.5751e-41</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 4.5751e-41</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 3.35279</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 2.29224</color>
</navitem_th>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_menu_1</layout_name>
</layout_preview>
<main type="dynv">
<color_source type="string">color_picker</color_source>
<paned_position type="int32">525</paned_position>
<secondary_color_source type="string"></secondary_color_source>
<vertical_paned_position type="int32">0</vertical_paned_position>
<window type="dynv">
<height type="int32">714</height>
<width type="int32">676</width>
<x type="int32">5</x>
<y type="int32">49</y>
</window>
</main>
<picker type="dynv">
<color_input_text type="string"></color_input_text>
<contrast type="dynv">
<color type="color">0.00392157 0.00392157 0.00392157 0.00392157</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">false</cmyk>
<hsl type="bool">false</hsl>
<hsv type="bool">false</hsv>
<info type="bool">false</info>
<input type="bool">false</input>
<lab type="bool">false</lab>
<lch type="bool">false</lch>
<rgb type="bool">false</rgb>
<settings type="bool">false</settings>
</expander>
<sampler type="dynv">
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
</sampler>
<swatch type="dynv">
<active_color type="int32">2</active_color>
<color1 type="color">0.113725 0.12549 0.129412 0</color1>
<color2 type="color">0.411765 0.231373 0.141176 0</color2>
<color3 type="color">0.411765 0.231373 0.141176 0</color3>
<color4 type="color">0.74 0.9 0.1 0</color4>
<color5 type="color">0.42 0.9 0.1 0</color5>
<color6 type="color">0.1 0.9 0.1 0</color6>
</swatch>
<zoom type="float">20</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
<transformations type="dynv">
</transformations>
</gpick>
</root>
